html {
    font-family: 'Kanit';
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 10vw;
    margin-bottom: 0;
}

h3 {
    font-size: 5vw;
    margin-top: 0;
}

p {
    font-size: 3vw;
    text-align: center;
}

div.content {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 75%;
    flex-direction: column;
}